USE [RYAccountsDB];
SET NOCOUNT ON;

------------------------------------------------------------
-- 1. 清空目标表
------------------------------------------------------------
TRUNCATE TABLE GameIdentifier;
TRUNCATE TABLE ReserveIdentifier;

------------------------------------------------------------
-- 2. GameID 范围
------------------------------------------------------------
DECLARE @BeginGameID INT = 100000;
DECLARE @EndGameID   INT = 999999;

------------------------------------------------------------
-- 3. 规则判断函数（数学判断，无 LIKE）
------------------------------------------------------------
IF OBJECT_ID('dbo.fn_IsReserveID') IS NOT NULL
DROP FUNCTION dbo.fn_IsReserveID;
GO

CREATE FUNCTION dbo.fn_IsReserveID(@id INT)
    RETURNS BIT
AS
BEGIN
    DECLARE @s VARCHAR(16) = CONVERT(VARCHAR(16), @id);

    --------------------------------------------------------
    -- 规则 1：重复数字（000、111、222…）
    --------------------------------------------------------
    IF @s LIKE '%000%' OR @s LIKE '%111%' OR @s LIKE '%222%' OR
       @s LIKE '%333%' OR @s LIKE '%444%' OR @s LIKE '%555%' OR
       @s LIKE '%666%' OR @s LIKE '%777%' OR @s LIKE '%888%' OR
       @s LIKE '%999%'
        RETURN 1;

    --------------------------------------------------------
    -- 规则 2：连续数字（1234、2345、3456…）
    --------------------------------------------------------
    IF @s LIKE '%1234%' OR @s LIKE '%2345%' OR @s LIKE '%3456%' OR
       @s LIKE '%4567%' OR @s LIKE '%5678%' OR @s LIKE '%6789%'
        RETURN 1;

    --------------------------------------------------------
    -- 规则 3：特殊数字组合（来自你原脚本）
    --------------------------------------------------------
    IF @s LIKE '%520%' OR @s LIKE '%521%' OR @s LIKE '%527%' OR
       @s LIKE '%1314%' OR @s LIKE '%168%' OR @s LIKE '%666%' OR
       @s LIKE '%888%' OR @s LIKE '%518%' OR @s LIKE '%588%' OR
       @s LIKE '%886%' OR @s LIKE '%881%' OR @s LIKE '%110%' OR
       @s LIKE '%120%' OR @s LIKE '%119%' OR @s LIKE '%800%' OR
       @s LIKE '%400%' OR @s LIKE '%600%' OR @s LIKE '%806%' OR
       @s LIKE '%668%' OR @s LIKE '%986%' OR @s LIKE '%998%'
        RETURN 1;

RETURN 0;
END;
GO

------------------------------------------------------------
-- 4. 一次性生成所有 GameID 并分类（极快）
------------------------------------------------------------
;WITH GameList AS (
    SELECT GameID = @BeginGameID
    UNION ALL
    SELECT GameID + 1
    FROM GameList
    WHERE GameID + 1 <= @EndGameID
)
 INSERT INTO ReserveIdentifier(GameID)
SELECT GameID
FROM GameList
WHERE dbo.fn_IsReserveID(GameID) = 1
    OPTION (MAXRECURSION 0);

;WITH GameList AS (
    SELECT GameID = @BeginGameID
    UNION ALL
    SELECT GameID + 1
    FROM GameList
    WHERE GameID + 1 <= @EndGameID
)
 INSERT INTO GameIdentifier(GameID)
SELECT GameID
FROM GameList
WHERE dbo.fn_IsReserveID(GameID) = 0
    OPTION (MAXRECURSION 0);

PRINT '==> √ ID 生成服务全部顺利完成！'

GO