.idea
.vs
.vscode
.cmake
.clang-format
.ninja_*
_Out/**
_Temp/**
Testing/**
out/**
build**/**
cmake-build-*/**

**/cmake_install.cmake
**/CMakeCache.txt
**/Makefile
**/CMakeFiles/**
**/mssql-tools18/**
**/vcpkg/**

build.ninja
vcpkg.json
vcpkg-configuration.json
