USE [WHJHTreasureDB]
GO
/****** Object:  StoredProcedure [dbo].[GSP_GR_ClubApplyList]    Script Date: 2018/4/9 17:23:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


----------------------------------------------------------------------------------------------------

-- 获取加入的俱乐部列表 
CREATE PROC [dbo].[GSP_GR_ClubApplyList]
	@dwClubID INT								-- 俱乐部 I D
  AS

-- 设置属性
SET NOCOUNT ON

-- 执行逻辑
BEGIN	
-- 加载房间
	SELECT * FROM ClubApplyList WHERE ClubID = @dwClubID ORDER BY WriteTime DESC
END
RETURN 0




GO
/****** Object:  StoredProcedure [dbo].[GSP_GR_ClubCreate]    Script Date: 2018/4/9 17:23:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

----------------------------------------------------------------------------------------------------

-- 创建俱乐部
CREATE PROC [dbo].[GSP_GR_ClubCreate]
	@dwUserID INT,								-- 用户 I D
	@dwGameID INT,								-- 游戏 I D
	@szClubName NVARCHAR(31)					-- 俱乐部名称
  AS

-- 设置属性
SET NOCOUNT ON

-- 执行逻辑
BEGIN	
	DECLARE @dwClubID int
	DECLARE @NickName NVARCHAR(31)
	insert into ClubInfo(UserID,GameID,ClubName,WriteTime)values(@dwUserID, @dwGameID, @szClubName,GETDATE())
	select @dwClubID=ClubID from ClubInfo where  @dwUserID=UserID and @dwGameID=GameID

	select @NickName=NickName from WHJHAccountsDB..AccountsInfo where UserID=@dwUserID and GameID=@dwGameID

	insert into ClubMember(ClubID,UserID,GameID,WriteTime,NickName)
			values(@dwClubID, @dwUserID, @dwGameID, GETDATE(), @NickName)
	select @dwClubID AS ClubID
END
RETURN 0




GO
/****** Object:  StoredProcedure [dbo].[GSP_GR_ClubDeleteMember]    Script Date: 2018/4/9 17:23:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


----------------------------------------------------------------------------------------------------

-- 删除俱乐部成员
CREATE PROC [dbo].[GSP_GR_ClubDeleteMember]
	@dwClubID INT,				-- 俱乐部 I D
	@dwDestGameID INT			-- 删除的玩家id
  AS

-- 设置属性
SET NOCOUNT ON

-- 执行逻辑
BEGIN	
-- 加载房间
	delete from ClubMember where ClubID = @dwClubID and GameID = @dwDestGameID
	delete from ClubJoin where JoinClubID = @dwClubID and GameID = @dwDestGameID
	update ClubInfo set MemberCount=MemberCount-1 where ClubID=@dwClubID
END
RETURN 0




GO
/****** Object:  StoredProcedure [dbo].[GSP_GR_ClubDissolved]    Script Date: 2018/4/9 17:23:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


----------------------------------------------------------------------------------------------------

-- 解散牛有群
create PROC [dbo].[GSP_GR_ClubDissolved]
	@dwClubID INT			 -- 用户 I D		
  AS

-- 设置属性
SET NOCOUNT ON

-- 执行逻辑
BEGIN	
	if exists(select * from  ClubInfo  where ClubID=@dwClubID)
	begin
		delete from  ClubInfo  where ClubID=@dwClubID
	end

	if exists(select * from  ClubJoin  where JoinClubID=@dwClubID)
	begin
		delete from  ClubJoin  where JoinClubID=@dwClubID
	end

	if exists(select * from  ClubCreateRecord  where ClubID=@dwClubID)
	begin
		delete from  ClubCreateRecord  where ClubID=@dwClubID
	end
	if exists(select * from  ClubMember  where ClubID=@dwClubID)
	begin
		delete from  ClubMember  where ClubID=@dwClubID
	end

	
END
RETURN 0




GO
/****** Object:  StoredProcedure [dbo].[GSP_GR_ClubGetJoinList]    Script Date: 2018/4/9 17:23:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


----------------------------------------------------------------------------------------------------

-- 获取加入的牛有群列表 
create PROC [dbo].[GSP_GR_ClubGetJoinList]
	@dwUserID INT								-- 用户 I D
  AS

-- 设置属性
SET NOCOUNT ON

-- 执行逻辑
BEGIN	

	SELECT * FROM ClubJoin where  UserID=@dwUserID ORDER BY WriteTime DESC
END
RETURN 0




GO
/****** Object:  StoredProcedure [dbo].[GSP_GR_ClubGetList]    Script Date: 2018/4/9 17:23:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


----------------------------------------------------------------------------------------------------

-- 获取自己创建的牛有群列表 
create PROC [dbo].[GSP_GR_ClubGetList]
	@dwUserID INT
  AS

-- 设置属性
SET NOCOUNT ON

-- 执行逻辑
BEGIN	
-- 加载房间
	SELECT * FROM ClubInfo where UserID=@dwUserID ORDER BY WriteTime DESC
END
RETURN 0




GO
/****** Object:  StoredProcedure [dbo].[GSP_GR_ClubGetListByClubID]    Script Date: 2018/4/9 17:23:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


----------------------------------------------------------------------------------------------------

-- 获取加入的俱乐部列表 
create PROC [dbo].[GSP_GR_ClubGetListByClubID]
	@dwClubID INT								-- 用户 I D
  AS

-- 设置属性
SET NOCOUNT ON

-- 执行逻辑
BEGIN

	SELECT * FROM ClubInfo where  ClubID=@dwClubID ORDER BY WriteTime DESC
END
RETURN 0




GO
/****** Object:  StoredProcedure [dbo].[GSP_GR_ClubGetNotOwnList]    Script Date: 2018/4/9 17:23:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


----------------------------------------------------------------------------------------------------

-- 获取排除自己创建的俱乐部列表 
CREATE PROC [dbo].[GSP_GR_ClubGetNotOwnList]
	@dwGameID INT
  AS

-- 设置属性
SET NOCOUNT ON

-- 执行逻辑
BEGIN	
-- 加载房间
	SELECT TOP 10 * FROM ClubInfo where GameID<>@dwGameID ORDER BY WriteTime DESC
END
RETURN 0




GO
/****** Object:  StoredProcedure [dbo].[GSP_GR_ClubGetRecommentList]    Script Date: 2018/4/9 17:23:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


----------------------------------------------------------------------------------------------------

-- 获取推荐的牛有群列表 
create PROC [dbo].[GSP_GR_ClubGetRecommentList]
	@dwGameID	INT,
	@dwClubID	INT
  AS

-- 设置属性
SET NOCOUNT ON

-- 执行逻辑
BEGIN	
	
	if exists(select * from ClubJoin where GameID = @dwGameID and JoinClubID=@dwClubID)
	begin
		return 1
	end
	else
	begin
		SELECT * FROM ClubInfo where ClubID=@dwClubID ORDER BY WriteTime DESC
	end
END
RETURN 0




GO
/****** Object:  StoredProcedure [dbo].[GSP_GR_ClubGetRoomList]    Script Date: 2018/4/9 17:23:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


----------------------------------------------------------------------------------------------------

-- 获取牛有群房间列表 
create PROC [dbo].[GSP_GR_ClubGetRoomList]
	@dwClubID INT								-- 用户 I D
  AS

-- 设置属性
SET NOCOUNT ON

-- 执行逻辑
BEGIN	
-- 加载房间
	SELECT * FROM ClubCreateRecord WHERE ClubID = @dwClubID ORDER BY WriteTime DESC
END
RETURN 0




GO
/****** Object:  StoredProcedure [dbo].[GSP_GR_ClubHandleJoin]    Script Date: 2018/4/9 17:23:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


----------------------------------------------------------------------------------------------------

-- 处理申请加入俱乐部的请求
CREATE PROC [dbo].[GSP_GR_ClubHandleJoin]
	@byAgreeOrRefuse tinyint,
	@dwReqUserID INT,
	@dwReqGameID INT,							-- 游戏 I D
	@dwClubID  INT,								-- 俱乐部 I D
	@strErrorDescribe NVARCHAR(127) OUTPUT		-- 输出信息
  AS

-- 设置属性
SET NOCOUNT ON

-- 执行逻辑
BEGIN	
	declare @szClubName NVARCHAR(6)
	declare @CreateGameID int
	declare @GroupUserID int

	
	select @szClubName=ClubName, @CreateGameID=GameID,@GroupUserID=UserID from ClubInfo where ClubID=@dwClubID
	if @szClubName is NULL
	begin
		SET @strErrorDescribe=N'无效俱乐部ID'
		return 1
	end

	SET @strErrorDescribe = N'加入俱乐部成功!'
	
	if @byAgreeOrRefuse > 0
	begin
		if not exists(select * from ClubJoin where JoinClubID=@dwClubID and UserID=@dwReqUserID and GameID=@dwReqGameID)
		begin
			insert into ClubJoin(JoinClubID,JoinClubName,UserID,GameID,WriteTime,CreateGameID)
			values(@dwClubID, @szClubName, @dwReqUserID,@dwReqGameID, GETDATE(),@CreateGameID)
		end

		if not exists(select * from ClubMember where ClubID=@dwClubID and UserID=@dwReqUserID and GameID=@dwReqGameID)
		begin
			declare @NickName NVARCHAR(31)
			set @NickName=''
			select @NickName=NickName from WHJHAccountsDB..AccountsInfo where UserID=@dwReqUserID and GameID=@dwReqGameID
			insert into ClubMember(ClubID,UserID,GameID,WriteTime,NickName)
			values(@dwClubID, @dwReqUserID,@dwReqGameID, GETDATE(),@NickName)
			update ClubInfo set MemberCount=MemberCount+1 where ClubID=@dwClubID
		end

	end

	if exists(select * from ClubApplyList where  ApplyUserID=@dwReqUserID and ApplyGameID=@dwReqGameID)
	begin
		delete from ClubApplyList where ApplyUserID=@dwReqUserID and ApplyGameID=@dwReqGameID
	end
	
END
RETURN 0




GO
/****** Object:  StoredProcedure [dbo].[GSP_GR_ClubJoin]    Script Date: 2018/4/9 17:23:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


----------------------------------------------------------------------------------------------------

-- 申请加入俱乐部
create PROC [dbo].[GSP_GR_ClubJoin]
	@dwApplyUserID INT,
	@dwApplyGameID INT,							-- 游戏 I D
	@dwClubID    INT,							-- 俱乐部 I D
	@NickName  nvarchar(31)
  AS

-- 设置属性
SET NOCOUNT ON

-- 执行逻辑
BEGIN	
	if not exists(select * from ClubInfo where ClubID=@dwClubID)
	begin
		return 1
	end
	if not exists(select * from ClubApplyList where ClubID=@dwClubID and ApplyUserID=@dwApplyUserID and ApplyGameID=@dwApplyGameID)
	begin
		insert into ClubApplyList(ApplyUserID,ApplyGameID,ClubID,NickName,WriteTime)
		values(@dwApplyUserID, @dwApplyGameID, @dwClubID, @NickName, GETDATE())
	end
END
RETURN 0




GO
/****** Object:  StoredProcedure [dbo].[GSP_GR_ClubModifyName]    Script Date: 2018/4/9 17:23:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


----------------------------------------------------------------------------------------------------

-- 修改俱乐部名称
CREATE PROC [dbo].[GSP_GR_ClubModifyName]
	@dwClubID INT,			 -- 用户 I D
	@dwClubName nvarchar(31)	 -- 修改俱乐部名称			
  AS

-- 设置属性
SET NOCOUNT ON

-- 执行逻辑
BEGIN
	update ClubInfo set ClubName = @dwClubName where ClubID=@dwClubID
	update ClubJoin set JoinClubName = @dwClubName where JoinClubID=@dwClubID
END
RETURN 0




GO
/****** Object:  StoredProcedure [dbo].[GSP_GR_ClubModifyNotice]    Script Date: 2018/4/9 17:23:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


----------------------------------------------------------------------------------------------------

-- 修改俱乐部公告
create PROC [dbo].[GSP_GR_ClubModifyNotice]
	@dwUserID INT,
	@dwClubID INT,							-- 游戏 I D
	@Notice  nvarchar(255)
  AS

-- 设置属性
SET NOCOUNT ON

-- 执行逻辑
BEGIN	
	if not exists(select * from ClubInfo where ClubID=@dwClubID and UserID=@dwUserID)
	begin
		return 1
	end
	
	update ClubInfo set Notice=@Notice where ClubID=@dwClubID and UserID=@dwUserID
END
RETURN 0




GO
/****** Object:  StoredProcedure [dbo].[GSP_GR_ClubPresentBeans]    Script Date: 2018/4/9 17:23:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


----------------------------------------------------------------------------------------------------

-- 牛有群成员赠送游戏豆
create PROC [dbo].[GSP_GR_ClubPresentBeans]
	@dwSrcUserID INT,								-- 源用户 I D
	@dwDesUserID INT,								-- 目的用户 I D
	@dwSendBeans INT								-- 赠送的游戏豆
  AS

-- 设置属性
SET NOCOUNT ON

-- 执行逻辑
BEGIN	
	DECLARE @dSrcBeans DECIMAL(18,2)
	SELECT @dSrcBeans=Diamond FROM WHJHTreasureDB..UserCurrency WHERE UserID=@dwSrcUserID
	IF @dwSendBeans <= @dSrcBeans
	begin
		UPDATE WHJHTreasureDB..UserCurrency SET Diamond=Diamond-CAST(@dwSendBeans as DECIMAL(18,2)) WHERE UserID=@dwSrcUserID		
		UPDATE WHJHTreasureDB..UserCurrency SET Diamond=Diamond+CAST(@dwSendBeans as DECIMAL(18,2)) WHERE UserID=@dwDesUserID		
	end
	else
	begin
		return 1
	end
END
RETURN 0




GO
/****** Object:  StoredProcedure [dbo].[GSP_GR_CubGetMember]    Script Date: 2018/4/9 17:23:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


----------------------------------------------------------------------------------------------------

-- 获取俱乐部成员
create PROC [dbo].[GSP_GR_CubGetMember]
	@dwClubID INT								-- 用户 I D
  AS

-- 设置属性
SET NOCOUNT ON

-- 执行逻辑
BEGIN	
-- 加载房间
	SELECT * FROM ClubMember WHERE ClubID = @dwClubID ORDER BY WriteTime DESC
END
RETURN 0




GO
