USE RYNativeWebDB
GO

-- 独立页面
TRUNCATE TABLE SinglePage
GO

SET IDENTITY_INSERT [dbo].[SinglePage] ON
EXEC(N'INSERT INTO [dbo].[SinglePage] ([PageID], [KeyValue], [PageName], [KeyWords], [Description], [Contents]) VALUES (2, N''ServiceAgreement'', N''服务协议页'', N''服务协议关键字'', N''服务协议描述'', N''&lt;strong&gt;1. 服务条款&lt;/strong&gt;&lt;br /&gt;
		  游戏中心提供游戏、活动和服务。您使用本网站和相关的服务应从始至终遵从我们的服务条款和隐私保护政策。您的本网站的所有会员帐户（“帐户”）以及我们所有的游戏、活动和其它服务，无论它们何时加入本网站，都统一受我们的服务条款约束。&lt;br /&gt;
	      我们的游戏社区是不断发展的，所以您应定期来这里检查升级和更新的信息（以及您最喜爱的游戏的规则和指导），这十分重要。&lt;br /&gt;
	      我们可能随时更新或修改服务条款。如果我们修改服务条款，该修改会在我们张贴新服务条款后三天生效。您同意定期查阅服务条款，以知悉该修改。通过点击我们的服务条款的链接，您可以随时查看到服务条款。如果在本网站修改后的服务条款后三天您继续使用服务，则意味着您接受了所有修改。如果您不同意本服务条款的更改或任何条款，唯一的方法则只能是不使用本网站，并注销您已注册的任何帐户或服务。&lt;br /&gt;
	      如果您违反了我们的服务条款，我们可能会向您出具一份关于此违反的警告信，或者我们也可以选择立刻终止您建立的任一或所有帐户。您应该理解，我们没有义务在终止帐户前通知您，但也有可能选择通知您。&lt;br /&gt;
	      如发生下列任何一种情形，我们有权随时中断或终止您的帐户或向您提供服务而无需通知用户：&lt;br /&gt;
	      1、您提供的个人资料不真实；&lt;br /&gt;
	      2、法律、法院命令或其他政府机构或执法机构的要求；&lt;br /&gt;
	      3、我们自行决定认为该等中断或终止确实必要的其他情况。&lt;br /&gt;
	      有关特别的游戏、活动、比赛或抽奖的服务条款及任何公布的规则或指导，应构成您和我们之间就您使用服务的权利和义务所达成的全部协议。如果服务条款和我们所公布的任何其它在本网站公布的规则或指导有冲突，则我们有权自行解决该冲突。如果您就服务条款存有问题，请联系我们，发送电子邮件至web@cixi.net.cn。&lt;br /&gt;
	      1. 本网站帐户的注册&lt;br /&gt;
	      完成一次本网站的注册过程后，您就创立了一个本网站的帐户，并成为本网站的会员（“会员”）。您的帐户允许您参加本网站上的任何游戏和活动。为建立帐户，您必须选择一个登录名和密码。您的登录名是您在本网站的身份证明。您不能使用其他人使用的登录名，您的登录名不能过于粗俗，或带有攻击性，使用时也不能违反本服务条款。在注册过程中您不能提供错误的资料。您在创设您的本网站帐户时必须提供真实的、准确的资料。&lt;br /&gt;
	      您对您帐户下的所有活动以及您的电脑系统或视频控制系统的安全负有完全责任。您不能将您的密码披露给其他用户。我们不会要求您披露您的密码，也绝不会主动向您索要您的密码提示词。（如果您忘记您的密码，您可以告诉我们您的密码提示词，我们会将您的密码发送给您。）您同意，如果不正确或非法使用您的帐户，您应保证我们不受损害，否则将赔偿我们所遭受的损失。上述条款也包括其他人的非法或不正当的使用，如果该相关者在您的许可下使用您的帐户。如果您让其他人不正确地使用您的帐户，则您的帐户将会遭受风险，并且如果您或其他人在使用您的帐户时违反了我们的服务条款，则您在我们任何服务下的帐户都将被终止。一旦您的帐户被终止，则未经我们的明确许可，您不能再次加入本网站。如果您希望重新加入，请联系web@cixi.net.cn。 &lt;br /&gt;
	      收费，付款和免费试用&lt;br /&gt;
 
	      您可以拥有一个本网站帐户以参与游戏或其他活动，而无需向本网站付费。然而，我们将针对进入网站的某些特定区域、进行特定的高级游戏、及参加在本网站上的特定活动等，收取订阅费用。您必须拥有本网站的帐户且支付订阅或其他费用来参加这些活动。假如您必须付订阅费用，以便进入我们某些服务区域，或进行特定的游戏，相关的信息都会公布在我们的站点上。订阅费用与其他付款信息，将公布在相关页面中。&lt;br /&gt;
您的订阅费用，必须事先支付，且不会以全额或部分方式退费。&lt;br /&gt;
我们保留不时变更收费标准与收费方式的权利，且我们将至少在进行变更的三天前进行主动告知。所有的改变都会公布在我们的站点上，您必须自行查看在我们站点上的付费章节，以即时了解相关的改变。如果当这些改变公布在我们站点上满3天之后，继续使用这些服务，便表示您同意这些改变。假如您不同意改变，您可以随时取消您的订阅，但我们不会退还在您取消订阅前的收费，也不会采用按比例方式退还任何订阅费用。如果您使用的服务必须支付使用或营业税，我们也会对您收取相关税金，这部分将有别于订阅费或其他在本网站上收费章节中所公布的内容。有关进一步的信息，请参考相关页面。&lt;br /&gt;
第三方网站及协办厂商的收费&lt;br /&gt;
我们可能会提供一些其他网站的链接，这些网站有的可能会收取额外、独立的费用，将不包含在我们所收取的订阅费与其他费用中，我们也可能会在本网站、国际互联网或通过无线电方式提供连到协办厂商的链接，他们可能提供内容、货物、与服务等， 当您跟这些协办厂商交易的时候，所产生的独立费用或义务，您都必须完全自行负担。&lt;br /&gt;
	      帐户终止&lt;br /&gt;
	      无论是您或我们，都有随时终止或取消您的帐户或任何特殊订阅内容的权利。您了解并同意取消您的帐号或某项特殊订阅内容，是您与我们纠纷时唯一的权利及救济。这包括但不限于因下列原因所致生的纠纷：(1) 有关本服务协议的所有条款，或我们履行或适用本协议；(2) 通过本网站所提供的内容，或任何修改通过本网站所提供的内容；(3) 您可以连结使用本网站的权利；或(4) 费用、额外费用、相关税金、付款方式，或因费用、额外费用、相关税金、付款方式所造成的任何改变。&lt;br /&gt;
您可以通知本网站的客户服务部门您要取消自己的会员资格或特定的订阅。我们保留收取在您取消会员或特殊订阅之前，所产生费用、附加费用、与其他支出款项的权利。除此之外，您还必须负担在您取消之前，任何因使用协办厂商或内容提供者服务所产生的费用。假如您的帐号或特殊订阅被取消或终止，已付费用将不退还；一切的在线时间或其他点数（例如，在线游戏的分数），都将不会转换成现金或以其他方式退还。您不得再使用您的帐户或本网站中与之相关的任何事物（例如分数、游戏货币或游戏装备）。有效的本网站帐户持有者不得同意那些已经被本网站终止使用的帐户的持有者来使用其帐号。至于那些对本网站有拖缴或未付款或跟本网站有未解决的纠纷的帐号，必须等到问题解决之后，本网站才允许您再度申请注册。&lt;br /&gt;
	      &lt;strong&gt;2. 在线内容&lt;/strong&gt;&lt;br /&gt;
对于“内容”，我们指的是软件、通信、图形、声音，以及所有您在我们的服务上能看到的材料和信息。我们、我们的会员、我们的关联机构、以及我们的独立内容提供者在本网站上提供了大部分内容。我们不会预检（pre-screen）所有内容。您需要自己承担在本网站上找到内容完整性、准确性或实用性方面的风险。&lt;br /&gt;
过于下流的词句、涉及性的粗言秽语、关于非法毒品的讨论以及仇恨性发言对于本网站都是不妥当的内容。内容标准按您在本网站的不同区域、您所玩游戏的不同类型以及不同的社区期望值而有所区别。某些游戏比赛和聊天室可能会使用比其它地方强烈的词句，包括轻度粗口。上网时，应始终头脑清醒、明辨是非。如果某件事情您不想在一个充满陌生人的房间或者在工作场所谈起，那么最好也不要将其发表在我们的留言板或聊天室里。
		  &lt;br /&gt;
本网站的代表可能会在本网站上监视您的交流活动。但我们不会、也不打算监视本网站上的所有内容。本网站的某些区域允许您过滤您看到的聊天。对于您不想看到的词句，您可以使用此特色服务减少看到它们的机会。阅读游戏帮助文件或者在游戏中向我们本网站的工作人员或其它玩家提问，对于学习如何使用这些工具是一个很好的方法。如果遇到某些令您讨厌的事情，您可以通过电子邮件将此事报告给负责事发区域的游戏支持商或投诉部门。对于您或其它用户在服务上交流的内容，我们没有同意、批准或预检。我们不承担在本网站上，因会员或其他访客创设的内容而发生的任何责任或义务。无论出于任何原因，我们保留删除令我们反感内容的权利。此权利是我们全自主的、决定性权利。如果删除内容失败或迟延，我们不承担任何责任。&lt;br /&gt;
如果我们删除了您创设的内容，我们可能会发送一封警告信给您。如果这是严重的违规或者您以前已经违反过我们的规则，那么我们可能会禁止您加入本网站，并终止您的帐户。&lt;br /&gt;
		  &lt;strong&gt;3. 网上行为&lt;/strong&gt;&lt;br /&gt;
网上行为应遵循一般常识及基本礼节。现实世界里适用的法律在网上也必须同样被遵守。我们绝不容忍在本网站上的非法行为。您必须遵守使用第三方工具的规则、各服务供应商的规则、以及您所在地适用的法律法规。对法律的无知不能成为托辞。对于非法行为，我们将终止其使用本网站，并配合执法机关采取相关行动。&lt;br /&gt;
您同意您将自行'')')
EXEC(N'DECLARE @pv binary(16)
'+N'SELECT @pv=TEXTPTR([Contents]) FROM [dbo].[SinglePage] WHERE [PageID]=2
UPDATETEXT [dbo].[SinglePage].[Contents] @pv NULL NULL N''对使用本网站和在服务上的所有交流和活动，包括您提供的任何内容承担相关责任。对于您在本网站上的行为（包括您提供的内容）而导致的任何责任或损失，您保证不使我们及我们的关联机构、雇员、管理人员和董事受到损害；如有损害，将对其加以赔偿。&lt;br /&gt;
		  如果您（或者其他人使用您的帐户）从事以下行为，则被视为违反服务条款：&lt;br /&gt;
		    张贴、发送、助长、或散布非法内容；&lt;br /&gt;
		    骚扰、恐吓、为难其他会员或访客，或做出任何令其厌恶的事情，即不得对其说长道短、不得不断向其发送令其厌恶的信息、不得对其人种、性取向、宗教信仰、传统等进行攻击。如果您不同意某人的观点，请对事不要对人。 &lt;br /&gt;
		    发送以下内容或助长以下内容的散布，即伤害性的、侮辱性的、有人种或种族攻击性的、粗俗的、明示关于性的、诽谤的、侵害的、侵犯个人隐私或公共权利的内容，或者从正常角度来看不能接受的内容。仇恨性发言也是不能容忍的。&lt;br /&gt;
		    通过以下方式破坏聊天室的聊天进程，即使用下流词句、咒骂；反复回车或插入巨幅图片导致屏幕更新过快难以阅读；使用过多的惊叹词（Shouting）[全部大写]以试图干扰其它用户；滥发信息（spamming）或灌水[反复张贴重复的文字]。&lt;br /&gt;
		    模仿其他人（包括名人）；表明自己是我们的员工或我们的代表之一；或试图通过表明自己代表我们或我们的任何合作伙伴或关联机构来误导用户。&lt;br /&gt;
		    试图在本网站中从一个会员或其他用户那里得到密码，其它帐户资料，或其它私人信息。记住：本网站的员工永远不会索要您的密码。不要把您的密码、密码提示词、或账单信息告诉任何人。&lt;br /&gt;
		    上传任何非为自己拥有或未获得自由散布许可的软件。&lt;br /&gt;
		    助长或鼓励任何非法活动，包括黑客入侵、密码破解或散布伪造软件。&lt;br /&gt;
		    上传包含病毒或损坏数据的文件。&lt;br /&gt;
		    出于任何非个人交流的目的发布信息，包括但不限于广告、促销材料、连锁信件（chain letters），金字塔系统（pyramid schemes）或任何商业用途。&lt;br /&gt;
		    在游戏中不正确地使用支持或投诉的按钮（button）或者向我们的员工发送虚假报告。&lt;br /&gt;
		    使用或散布 “自动运行（auto）”程序、 “宏（macro）”程序或其它 “欺骗性（cheat utility）”程序或应用软件。&lt;br /&gt;
		    未获得我们特别授权修改前，您不能修改服务或服务网站中的任何部分。&lt;br /&gt;
		    无论在服务的哪个区域，您都必须遵守所有适用的法律、法规和规则。这包括使用第三方技术和内容的规则、各服务供应商的规则、以及可能适用的所在地法律法规。对法律的无知不能成为托辞。在现实世界适用的法律在网上也必须同样得到遵守。我们绝不容忍在服务上的非法行为。对此类行为，我们将配合执法机关采取必要行动。&lt;br /&gt;
		    您不能在服务上或通过任何服务网站或任何服务公告板张贴或交流任何玩家的真实个人资料。&lt;br /&gt;
		    您不能尝试干扰、入侵或破解运行服务的服务器的任何进出信息。&lt;br /&gt;
		    您不能利用服务中或我们产品中的任何程序漏洞（bug）在游戏中获得不公平的优势条件，您不得向服务中的任何其他用户交流该程序漏洞的存在（无论是直接交流还是通过公告板）。&lt;br /&gt;
		    您不能在未经我们控制或授权的服务器上或通过该服务器运行我们的游戏。对于未经我们授权的EA游戏，您不能参加任何提供在线功能或游戏比赛的在线服务。&lt;br /&gt;
	      您不能从事任何干扰其他服务用户根据规则享受我们运营的游戏及使用服务的活动，也不能从事任何可能增加我们为所有用户提供维护服务的费用或难度的活动。&lt;br /&gt;
如果您发现其他服务用户违反上述行为规则，请用服务的“帮助（Help）”或“投诉（Report Abuse）”功能将其报告给我们（比如抓取聊天记录（capture chat）或报告违规用户）。&lt;br /&gt;
对于加入服务或玩我们游戏时积累的积分、财产或属性，我们不会承认或宽恕任何用于交易该积分、财产或属性的外部服务，我们对该交易不承担任何责任，也不会支持该交易。在这些外部服务上交易资产时请务必时刻保持警惕！&lt;br /&gt;
您还同意，这些规则对于您许可使用您服务帐户或用户身份（ID）的任何人也同样适用，并且您将自行承担因该人违反规则而可能导致的后果（包括终止您的帐户）。&lt;br /&gt;
为确保每个人在服务上都享有愉快的体验， 我们可能会不时更改服务或重新设置服务的特定参数，以保持游戏的平衡性。这些更改或重设可能会影响您所控制的角色或团队，并可能导致您在游戏世界里退步。&lt;br /&gt;
本规则可能会随时进行更改，并可能随时加入新规则。您同意随时检查服务网站以查阅我们对规则可能做出的任何更改。&lt;br /&gt;
	      交流的公开性：&lt;br /&gt;
	      您理解并同意，您在本服务上与其它用户通过聊天、会议、公告板及其它交流途径进行的交流，是公开的没有隐私的交流。您理解，您在本服务上交流的个人资料可能会被其他人看到并使用，并导致其主动与您交流。因此，我们强烈建议您，不要在公开交流时披露任何关于您自己的个人资料。我们对您与其他用户在服务上交流的资料或其他用户的活动不承担责任。&lt;br /&gt;
一旦您向本网站张贴或发送任何内容，您就明确地、全权地、不可撤销地授权我们或其合作伙伴以任何形式，在任何地点引用、重贴、拷贝、使用、复制、修改、散布、传递、播送、删除或以其它方式交流、以及公开展示或表演该内容，我们将自行决定是否署上您的用户名，并且不用向您发送任何通知或做任何方式的补偿。&lt;br /&gt;
	      商业活动和垃圾邮件：&lt;br /&gt;
	      您不能在本网站上为任何产品或服务做广告，不允许使用连锁邮件（chain letters）和金字塔系统（pyramid schemes）。您也不能使用本网站的任何区域收集关于本网站会员的资料，包括登录名，并使用该资料发送垃圾邮件或用于其它被严厉禁止的用途。您不能出于任何商业目的使用本网站或本网站提供的任何游戏或服务。如对本条款有任何违反，您的本网站帐户将被立刻终止（或者，如果您是访客，将被撤销访客身份），我们并可能采取进一步法律行动的权利。&lt;br /&gt;
	      使用机器、电脑和脚本（Scripts）：&lt;br /&gt;
	      严禁在本网站上使用机器、电脑、脚本（scripts）或任何自动化系统代为游戏，该使用将可能导致您根据中华人民共和国《刑法》和《维护互联网安全的决定》承担刑事责任。您玩本网站游戏时每次只能使用一种类型或版本的浏览软件。如果我们认定任何会员违反了本服务条例，我们将可能终止并永久剥夺其会员资格。我们的决定具有最终效力。&lt;br /&gt;
	      所有权、著作权和商标：&lt;br /&gt;
	      本网站上提供的大部分内容都归我们或我们的许可人所有，并受著作权、商标、和其它知识产权的保护。未经我们明确授权，您不能从本网站复制或下载任何内容。&lt;br /&gt;
在向本网站上传任何内容之前，您必须已拥有合法的上传权利。未经我们的明确书面授权，您不能复制、发送、修改、散布、公开或私下展示您在本网站上发现的任何内容，或者修改或创作有关该内容的衍生作品。如果未经授权复制本网站上的任何内容，则您的本网站帐户将被终止（或者，如果您是访客，则您的访客身份将被撤销），并可能对您采取进一步的法律行动。同样，内容的其他所有人也可能对您提起刑事或民事诉讼。在此情形下，您同意保证我们及我们的子公司、关联机构、相关公司、雇员、管理人员、董事和代理人不受损害，如果受到损害，应对其加以相应赔偿。&lt;br /&gt;
	      本网站软件&lt;br /&gt;
	      本网站上的某些游戏可能需要您从我们或我们的许可人那里下载软件到您的电脑（“本网站软件”）。我们非排他地、有限地许可您使用本网站软件以便在我们的服务上进行游戏。您不能再许可其他人或向其他人收费，来使用或获取本网站软件。您不能出于任何其它目的使用本网站软件。您不得对本网站软件进行翻译、反向工程（reverse-engineer）、反向编码（reverse-compile）或解码、反向组译（disassemble）或者制作衍生作品。未经我们的明确书面授权，您不得以任何方式修改或使用本网站软件。您理解，我们使用的各种技术可能不适用于所有平台，我们提供的演示和某些功能可能会基于您的电脑和其它设备而有所不同。&lt;br /&gt;
我们及我们的许可人就您使用本网站软件不承担任何种类或性质的责任（包括任何必然或偶然的损害责任或者对您电脑硬件或软件的损害责任），您应承担全部的使用风险（包括但不限于对您电脑硬件或软件的任何损害）。&lt;br /&gt;
本网站软件可能适用中国的出口管制。当您下载本网''
UPDATETEXT [dbo].[SinglePage].[Contents] @pv NULL NULL N''站软件时，您保证您不是处于中国所禁止出口商品的地区，且您不会出口本网站软件到该地区或给该地区的人。&lt;br /&gt;
	      出口管制法&lt;br /&gt;
	      您同意遵守其所在地适用的出口管制法律，并且，未经必需的政府授权并遵守该授权前，不会通过电子传输或其它方式发送任何前述法律禁止的内容给任何该法律禁止的目的国。您进一步同意，不会向本网站上传任何未经政府书面授权不得出口的数据或软件，包括但不限于，特定类型的加密软件。本条款下的保证和允诺在本协议终止后仍继续有效。&lt;br /&gt;
	      用户的电脑信息&lt;br /&gt;
	      当您连接本网站时，我们可能会从用于登录服务的电脑那里收取有关电脑硬件系统的信息及任何有关电脑运行本网站软件的数据。如我们的隐私保护政策所述，在得到您的认可和同意前，我们不会收集您的个人资料。&lt;br /&gt;
本网站可能包含通向我们以外的第三方的链接，第三方包括广告商和其它内容提供者。这些站点可能会从您那里收集数据或请求您提供个人资料。我们无法控制第三方网站，并且对其内容、隐私保护政策，或收集、使用、披露任何资料不负责任。&lt;br /&gt;
	      特定游戏的额外条款和条件&lt;br /&gt;
	      当您订购某些特定游戏时，您可能需要阅读并同意一份服务或会员协议，该协议仅为该游戏而制定，并且有些条款可能与这里找到的条款略有不同。您订购该游戏以及进行该游戏时应遵从那些特定条款以及本服务条款。如果游戏的特定条款与本条款有任何不一致的地方，我们将就该不一致作出最终的并且唯一的解释。&lt;br /&gt;
	      &lt;strong&gt;4. BETA测试&lt;/strong&gt;&lt;br /&gt;
您可能有机会对新游戏和站点功能进行beta测试。您参加成为一名beta测试者时应遵从以下条款和条件。封闭式Beta测试（Closed Beta Test）：&lt;br /&gt;
		    封闭式beta测试是保密的。Beta版游戏，包括作为游戏一部分的特征和功能的信息，都是保密的。如果您参加了一个封闭式beta测试, 则您应尽最大努力保护和防止未经授权的进入、复制、披露或未经授权的使用该beta游戏。您可以自行展开测试，但不得向任何其他人提供beta游戏的路径。您同意，违反上述保密义务将会给我们带来不可挽回的损害，我们有权单方采取禁令救济（在其所能采取的任何其它救济之外），该禁令不仅限于防止您违反义务或可能违反义务时。您对beta版游戏的保密义务将一直持续到我们公开发布时、或您所测试的每一个游戏和内容非因您的过失而通过其它方式向公众披露时。&lt;br /&gt;
		    所有Beta测试（封闭式和开放式）：&lt;br /&gt;
		    (1) 作为一个beta测试者，您获邀试玩beta版游戏仅出于评估游戏和发现错误这一唯一目的。本协议或站点上的任何内容都不得被解释为，您在有关beta版游戏方面或有关您在这里发现的内容方面被授以权利或特权。用于测试的beta游戏都是基于“依现状（as is）”和“在可能的情况下（as available）”的基础之上，我们没有明示或暗示地向您做过任何保证。&lt;br /&gt;
		    (2) 在玩某些beta版游戏时，您可能积累了财富、经验值、装备、其它价值物或属性指标。这些数据可能在测试过程中随时被重置，也可能在某些游戏结束测试阶段时被重置。在此情形下，所有玩家的历史记录和数据都将被删除，每一玩家都将还原为新手状态。&lt;br /&gt;
		    (3) 通过点击“进行游戏（Play）”按钮开始beta版游戏，您同意：(i) 玩beta游戏，您自担风险，并且您知道该游戏可能包含已知和未知的程序漏洞（bug）；(ii) 你在游戏中获得的任何价值物和属性指标都可能随时被删除；(iii) 我们没有义务在任何时间里都免费提供或提供游戏；(iv) 一旦测试过程结束或者在将来的任何时候，这些游戏可能必须通过付费才能获得；(v) 在测试阶段您使用游戏仍然适用我们的服务条款；以及(vi) 如果是封闭式beta测试，您将按上述规定对有关beta游戏的资料保密，并且不将该资料披露给任何其他人。&lt;br /&gt;
		    (4) Beta测试帐户在任何情形下都不得转让。&lt;br /&gt;
	        &lt;strong&gt;5. 新闻、比赛&lt;/strong&gt;&lt;br /&gt;
订阅我们的时事新闻后，订阅者理解，只要满足适当的资格要求，他们将来就可能会自动进入比赛，并且同意关于那些比赛的所有规则和条件。&lt;br /&gt;
            &lt;strong&gt;6. 保证和责任的限制&lt;/strong&gt;&lt;br /&gt;
您明确同意，使用本网站、本网站软件以及互联网，您将自担风险。本网站、本网站软件、我们的产品和服务、第三方的产品和服务，都是基于“依现状（as is）”和“在可能的情况下（as available）”的基础上向您提供的，不存在任何明示或暗示的保证，除非在法律上该保证不能被免除。我们基于合理的商业性考虑提供服务，不保证您能在您选定的任何时间和地点进入或使用服务，也不保证我们有足够能力来提供整个服务或者在任何特定的地理位置都能提供服务。&lt;br /&gt;
您理解并且同意，在与我们或我们许可人之间的纠纷中，在法律许可的程度下，您唯一的排他性救济就是停止使用服务，以及取消您的帐户。您理解并且同意，就在服务上的行为、交流或内容以及本网站软件的使用，我们及我们的子公司、许可人和关联机构对其自身的或任何其他人的作为或不作为都不承担任何责任。我们或我们的子公司、许可人、关联机构、雇员、管理人员、或董事（统称为“我们的关联机构”）在任何情形下承担的费用都不应超过您向我们支付的费用。我们或本网站关联机构对您使用本网站、本网站软件或互联网所引起的偶然或必然损害不承担任何责任；对任何与您使用本网站或作为本网站会员有关的主张，我们或本网站关联机构也不承担任何责任。如果在某些司法管辖领域内不允许免除或限制必然或偶然损害的责任，在该司法管辖领域内，我们和本网站的关联机构的责任应限于法律允许的范围内。我们并不认可、保证或担保第三方通过本网站而提供的产品或服务，也不会成为您与第三方产品或服务供应商之间交易的当事人或以任何方式负责对其监督。&lt;br /&gt;
            &lt;strong&gt;7. 赔偿&lt;/strong&gt;&lt;br /&gt;
            经我们要求，您同意，由于违反您应负责的本服务条款而引起的、或者与您在本网站上传输内容有关的所有责任、主张和费用，包括律师费，您应保证使我们及我们的关联机构、子公司、雇员、承包商、管理人员、董事、卖家，以及内容提供者不受损害，并对其做出辩护或赔偿。对不在您赔偿范围之内的其它事项，我们保留自担费用进行排他性辩护的权利以及控制权。在此情形下，您不必再为此事项承担进一步向我们进行赔偿的责任。本条款在本协议终止后仍然有效。&lt;br /&gt;
	      (1)、游戏中心用户因为程序或者一些不可抗拒的因素造成游戏不能正在运行、出错，游戏中心没有任何责任，也没有赔偿义务和责任。&lt;br /&gt;
	      &lt;strong&gt;8. 其它法律条款&lt;/strong&gt;&lt;br /&gt;
您同意，本服务条款不得向非本协议当事人的任何人转让或试图转让任何权利或救济。您理解并同意，本网站服务条款和隐私保护政策（包括我们对上述政策的执行）并不意味着要将任何权利或救济授予或试图授予给任何人。如果本协议的任何一部分被判定无效或不可执行，对该部分的解释应尽可能与适用法所体现的原则以及双方当事人的原始意图相一致，并且其余部分应仍然有效和可执行。&lt;br /&gt;
	      本协议及您的会员资格均适用中华人民共和国法律（冲突法规则除外），凡因本协议引起的或与本协议有关的任何争议，双方均应尽力通过友好协商和（或）中立方调解的方式予以解决。若商议开始后的三十（30）日内，争议无法用上述方式予以解决，则任何一方有权将争议依下列规定提交仲裁：&lt;br /&gt;
	      在中国国际经济贸易仲裁委员会由依其仲裁规则任命的独任仲裁员根据该会仲裁规则进行终局性解决；且仲裁应在宁波分会使用中文进行审理。
		  &lt;p&gt; 本服务条款要与国家相关法律、法规一致，如发生服务条款与相关法律、法规条款有相抵触的内容，抵触部分以法律、法规条款为准。&lt;/p&gt;
		  &lt;p&gt; 我们保留本服务条款之解释权。&lt;/p&gt;''
')






SET IDENTITY_INSERT [dbo].[SinglePage] OFF



GO